@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Tilt+Warp&display=swap");
* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Tilt Warp", cursive;
}
p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
header nav {
  background-color: black;
  height: 80px;
  color: white;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

nav div a {
  letter-spacing: 0.2em;
  font-size: 1.3em;
}
nav ul {
  display: flex;
  margin: auto 10px;
  justify-content: space-between;
}
header li {
  list-style: none;
  padding: 10px;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-wrap: wrap;
}
.hero h1 {
  font-size: 4.5em;
  letter-spacing: 0.3em;
}
.hero h1 span {
  color: orange;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.6em;
}
.hero h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
}
.hero img {
  max-width: 25%;
  height: auto;
}

.about {
  display: flex;
  justify-content: center;
  height: 250px;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: lightgray;
}
.about p {
  padding: 5%;
}

.proyek {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 250px;
}

.images {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.images > div {
  flex-basis: calc(33.33% - 20px);
  text-align: center;
  padding-top: 30px;
}
.images h4 {
  padding-top: 10px;
}
.images > div img {
  width: 80%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.form-section {
  background-color: lightgrey;
  padding: 30px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
form #email-input {
  display: block;
  width: 600px;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
}
form #message-input {
  display: block;
  width: 600px;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
}

form button {
  display: inline-block;
  width: 300px;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: gold;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: orange;
}
footer {
  background-color: dimgray;
  display: flex;
  justify-content: space-between;

  color: white;
  padding: 20px;
  height: 150px;
}
footer div {
  margin-top: 20px;
}
footer h2 {
  letter-spacing: 0.2em;
}
footer ul li {
  margin: 5px 0;
}
/* smartphone */
@media only screen and (max-width: 480px) {
  nav div {
    display: none;
  }

  .images > div img {
    width: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  }
  form #email-input {
    width: 40%;
  }
  form #message-input {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  .form-section {
    margin-top: 10px;
  }
  .hero h1 {
    font-size: 2em;
    letter-spacing: 0.3em;
  }
  .hero h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
  }
  form #email-input {
    width: 300px;
  }
  form #message-input {
    width: 300px;
  }
  form button {
    width: 200px;
  }
}
